@font-face {
    font-family: "Avant Garde Gothic Ce Demi";
    src: url(./ITC\ Avant\ Garde\ Gothic\ Ce\ Demi.ttf) format("truetype");
}

@font-face {
    font-family: "Avant Garde Gothic Bold";
    src: url(./ITC\ Avant\ Garde\ Gothic\ Bold.otf) format("opentype");
}

@font-face {
    font-family: "Avant Garde Gothic Bold Oblique";
    src: url(./ITC\ Avant\ Garde\ Gothic\ Bold\ Oblique.otf) format("opentype");
}
